@use "./variables" as *;

.descriptionText {
  h2 {
    font-size: 3rem;
    margin-bottom: 1em;
  }
  p {
    max-width: 40rem;
    line-height: 1.5;
    font-size: 1.4rem;
  }
}

.descriptionContainer {
  background: $colorDarkBackground;
  min-height: 45em;
}

@media only screen and (max-width: 1300px) {
  .descriptionContainer {
    height: max-content;
    padding-top: 6em;
    padding-bottom: 6em;
  }
  .descriptionText {
    h2 {
      font-size: 2rem;

      margin-bottom: 1em;
    }
    p {
      max-width: 20rem;
      line-height: 1.5;
      text-align: justify;
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .descriptionText {
    h2 {
      font-size: 2rem;

      margin-bottom: 1em;
    }
    p {
      max-width: 20rem;
      line-height: 1.5;
      text-align: justify;
      font-size: 1.2rem;
      padding: 1em;
    }
  }
}
