@use "./variables" as *;

.explanationContainer {
  background: $colorLightBackground;
  min-height: 45em;
  flex-direction: row-reverse;
}

.explanationText {
  h2 {
    font-size: 3rem;
    margin-bottom: 1em;
    margin-left: 1em;
  }
  p {
    padding: 1em;
    margin-left: 1.5em;
  }
  p,
  li {
    max-width: 40rem;
    line-height: 1.5;
    font-size: 1.4rem;
    text-align: justify;
  }
  li {
    margin: 0.6em;
    padding-left: 1em;
  }
  ul {
    margin-top: 2em;
    margin-left: 2em;
  }
}

@media only screen and (max-width: 992px) {
  .explanationContainer {
    background: $colorLightBackground;
    height: max-content;
    padding-top: 6em;
    padding-bottom: 6em;
  }
  .explanationText {
    h2 {
      font-size: 2rem;
      margin-bottom: 0.5em;
      margin-top: 1em;
    }
    p,
    li {
      max-width: 20rem;
      line-height: 1.5;
      font-size: 1.2rem;
      text-align: justify;
    }
    li {
      margin: 0.3em;
      padding-left: 1em;
      max-width: 18rem;
    }
    ul {
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }
}

@media only screen and (max-width: 600px) {
  .explanationContainer {
    background: $colorLightBackground;
    height: max-content;
    padding: 2em;
    flex-direction: column;
  }
  .explanationText {
    h2 {
      font-size: 1.7rem;
      margin-bottom: 1em;
      margin-left: auto;
    }
    p,
    li {
      max-width: 20rem;
      line-height: 1.5;
      font-size: 1.1rem;
      text-align: justify;
      margin-left: auto;
    }
    li {
      margin: 0.3em;
      padding-left: 1em;
      max-width: 18rem;
    }
    ul {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: auto;
    }
  }
}
