@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: open;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

p {
  text-align: justify;
}

h1,
h2 {
  color: $colorPurple;
}

.image {
  width: 605px;
}

@media screen and (max-width: 1300px) {
  .image {
    width: 30em;
  }
}

@media only screen and (max-width: 720px) {
  .image {
    width: 20em;
  }
  .container {
    flex-direction: column;
  }
  h1,
  h2 {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 479px) {
  .image {
    width: 15em;
  }
  .container {
    flex-direction: column;
  }
  h1,
  h2 {
    width: 100%;
    text-align: center;
  }
}
