@use './variables' as *;
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  height: 80px;
  background-color: $colorPurple;
}

.navigationLink {
  text-decoration: none;
  color: white;
  padding: 1em;
  height: 100%;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .navigationLink {
    font-size: 0.8rem;
    padding: 0.5em;
  }
  .navigation {
    gap: 1em;
  }
}
