@use "./variables" as *;

.feedback,
.help {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedbackParagraph {
  font-size: 1.5rem;
  margin: 0.5em;
  display: none;
}

.showParagraph {
  display: block;
}

.help {
  scroll-behavior: smooth;
}

.help {
  ul {
    display: none;
    margin: 3em;
  }
}
.help {
  li {
    font-size: 1.3rem;
    margin: 0.5em;
    max-width: 50rem;
  }
}

.resultGreen {
  color: #006400;
}
.resultRed {
  color: #dc143c;
}
.resultYellow {
  color: #9b870c;
}

.helpLink {
  color: $colorPurple;
}

@media only screen and (max-width: 600px) {
  .feedbackParagraph {
    font-size: 1.3rem;
    padding: 0.3em;
    text-align: justify;
  }
  .help {
    li {
      font-size: 1rem;
      margin: 1.8em;
      max-width: 18rem;
    }
  }
}
