@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: open;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

p {
  text-align: justify;
}

h1,
h2 {
  color: #6c63ff;
}

.image {
  width: 605px;
}

@media screen and (max-width: 992px) {
  .image {
    width: 30em;
  }
}
@media only screen and (max-width: 600px) {
  .image {
    width: 20em;
  }

  .container {
    flex-direction: column;
  }

  h1,
h2 {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 479px) {
  .image {
    width: 15em;
  }

  .container {
    flex-direction: column;
  }

  h1,
h2 {
    width: 100%;
    text-align: center;
  }
}
.heroSection {
  background-color: #fdfdfd;
  width: 100%;
  height: max-content;
  padding: 5em;
  display: flex;
}

.heroImage {
  width: 805px;
}

.heroText h1 {
  max-width: 10rem;
  font-size: 5rem;
  color: #6c63ff;
  margin-bottom: 0.7em;
}
.heroText p {
  max-width: 40rem;
  font-size: 3rem;
}

@media screen and (max-width: 992px) {
  .heroSection {
    padding: 3em;
    height: max-content;
  }

  .heroText h1 {
    font-size: 2.8rem;
    max-width: 100%;
  }
  .heroText p {
    font-size: 1.5rem;
    text-align: justify;
    width: 22rem;
    margin-bottom: 1em;
  }

  .heroImage {
    width: 30em;
  }
}
@media only screen and (max-width: 600px) {
  .heroSection {
    padding: 2em;
    height: max-content;
  }

  .heroText h1 {
    margin: auto;
    font-size: 2.8rem;
    order: 1;
    width: 100%;
  }
  .heroText p {
    font-size: 1.5rem;
    text-align: justify;
    width: 100%;
    order: 3;
    margin-bottom: 1em;
  }

  .heroImage {
    max-width: 15em;
    order: 2;
  }
}
.descriptionText h2 {
  font-size: 3rem;
  margin-bottom: 1em;
}
.descriptionText p {
  max-width: 40rem;
  line-height: 1.5;
  font-size: 1.4rem;
}

.descriptionContainer {
  background: #dae8ea;
  min-height: 45em;
}

@media only screen and (max-width: 992px) {
  .descriptionContainer {
    height: max-content;
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .descriptionText h2 {
    font-size: 2rem;
    margin-bottom: 1em;
  }
  .descriptionText p {
    max-width: 20rem;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .descriptionText h2 {
    font-size: 2rem;
    margin-bottom: 1em;
  }
  .descriptionText p {
    max-width: 20rem;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.2rem;
    padding: 1em;
  }
}
.explanationContainer {
  background: #fdfdfd;
  min-height: 45em;
  flex-direction: row-reverse;
}

.explanationText h2 {
  font-size: 3rem;
  margin-bottom: 1em;
  margin-left: 1em;
}
.explanationText p {
  padding: 1em;
  margin-left: 1.5em;
}
.explanationText p,
.explanationText li {
  max-width: 40rem;
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: justify;
}
.explanationText li {
  margin: 0.6em;
  padding-left: 1em;
}
.explanationText ul {
  margin-top: 2em;
  margin-left: 2em;
}

@media only screen and (max-width: 992px) {
  .explanationContainer {
    background: #fdfdfd;
    height: max-content;
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .explanationText h2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }
  .explanationText p,
.explanationText li {
    max-width: 20rem;
    line-height: 1.5;
    font-size: 1.2rem;
    text-align: justify;
  }
  .explanationText li {
    margin: 0.3em;
    padding-left: 1em;
    max-width: 18rem;
  }
  .explanationText ul {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 600px) {
  .explanationContainer {
    background: #fdfdfd;
    height: max-content;
    padding: 2em;
    flex-direction: column;
  }

  .explanationText h2 {
    font-size: 1.7rem;
    margin-bottom: 1em;
    margin-left: auto;
  }
  .explanationText p,
.explanationText li {
    max-width: 20rem;
    line-height: 1.5;
    font-size: 1.1rem;
    text-align: justify;
    margin-left: auto;
  }
  .explanationText li {
    margin: 0.3em;
    padding-left: 1em;
    max-width: 18rem;
  }
  .explanationText ul {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
  }
}
.calculationSection {
  background: #dae8ea;
  height: max-content;
}

.calculationContainer {
  display: flex;
  flex-direction: column;
}
.calculationContainer h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1.2em;
  margin-top: 1em;
}
.calculationContainer p {
  font-size: 1.7rem;
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-left: 20%;
  gap: 2em;
}

.weight,
.height {
  display: flex;
  justify-content: space-evenly;
}

.inputArea {
  appearance: textfield;
  width: 15rem;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.inputs {
  position: relative;
}

.inputError {
  background: #b00020;
  color: #fdfdfd;
  padding: 0.5em;
  border-radius: 10px;
  visibility: hidden;
}

label {
  width: 20rem;
  font-size: 1.5rem;
}

.buttonContainer {
  margin-top: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonCalculate {
  font-size: 1.2rem;
  width: 10rem;
  padding: 1em;
  background: #6c63ff;
  border: none;
  border-radius: 10px;
  color: #fdfdfd;
  cursor: pointer;
}

.bmiContainer {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 1em;
  scroll-behavior: smooth;
}

#progressCircleContainer {
  background: #343434;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  align-content: center;
  justify-content: center;
  display: none;
  scroll-behavior: smooth;
}

#circle {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 992px) {
  .calculationContainer h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 1em;
  }
  .calculationContainer p {
    font-size: 1.5rem;
    padding: 0.5em;
    text-align: justify;
  }

  label {
    width: 20rem;
    font-size: 1.5rem;
  }

  .inputArea {
    width: 12rem;
  }

  .height,
.weight {
    margin-left: 0.8em;
    margin-right: 0.8em;
  }

  .inputError {
    font-size: 0.8rem;
    position: absolute;
    left: -2%;
    bottom: -120%;
    width: 100%;
  }

  .formInput {
    margin-left: 0.3em;
  }

  .weight {
    margin-top: 3.2em;
  }

  .buttonCalculate {
    margin: 1.2em;
  }
}
@media only screen and (max-width: 600px) {
  .calculationContainer h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1em;
  }
  .calculationContainer p {
    font-size: 1.2rem;
    padding: 0.5em;
    text-align: justify;
  }

  label {
    width: 20rem;
    font-size: 1.2rem;
  }

  .inputArea {
    width: 9rem;
  }

  .height,
.weight {
    margin-left: 0.8em;
    margin-right: 0.8em;
  }

  .inputError {
    font-size: 0.8rem;
    position: absolute;
    left: -2%;
    bottom: -120%;
    width: 100%;
  }

  .formInput {
    margin-left: 0.3em;
  }

  .weight {
    margin-top: 3.2em;
  }

  .buttonCalculate {
    margin: 1.2em;
  }
}
.feedback,
.help {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedbackParagraph {
  font-size: 1.5rem;
  margin: 0.5em;
  display: none;
}

.showParagraph {
  display: block;
}

.help {
  scroll-behavior: smooth;
}

.help ul {
  display: none;
  margin: 3em;
}

.help li {
  font-size: 1.3rem;
  margin: 0.5em;
  max-width: 50rem;
}

.resultGreen {
  color: #006400;
}

.resultRed {
  color: #dc143c;
}

.resultYellow {
  color: #9b870c;
}

.helpLink {
  color: #6c63ff;
}

@media only screen and (max-width: 600px) {
  .feedbackParagraph {
    font-size: 1.3rem;
    padding: 0.3em;
    text-align: justify;
  }

  .help li {
    font-size: 1rem;
    margin: 1.8em;
    max-width: 18rem;
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5em;
  height: 80px;
  background-color: #6c63ff;
}

.navigationLink {
  text-decoration: none;
  color: white;
  padding: 1em;
  height: 100%;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .navigationLink {
    font-size: 0.8rem;
    padding: 0.5em;
  }

  .navigation {
    gap: 1em;
  }
}

/*# sourceMappingURL=main.css.map */
